.u-section-1 .u-sheet-1 {
  min-height: 1315px;
}

.u-section-1 .u-group-1 {
  width: 311px;
  min-height: 455px;
  margin: 37px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0 0;
}

.u-section-1 .u-group-2 {
  width: 248px;
  min-height: 396px;
  margin: 7px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  margin: 0 29px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-family: Roboto, sans-serif;
  margin: 45px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 30px 19px 0 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  width: 193px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-family: Heebo;
  font-weight: 700;
  margin: 20px 230px 0 18px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  margin: 3px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-image-1 {
  width: 815px;
  height: 454px;
  margin: -454px 0 0 auto;
}

.u-section-1 .u-group-3 {
  width: 74px;
  min-height: 752px;
  margin: 46px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-group-4 {
  min-height: 751px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-shape-1 {
  height: 93px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  background-image: none;
  width: 64px;
  margin: 16px auto 0 5px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 141px auto 0 5px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 141px auto 0 5px;
}

.u-section-1 .u-shape-2 {
  height: 93px;
  margin-top: 76px;
  margin-bottom: -1px;
}

.u-section-1 .u-group-5 {
  width: 344px;
  min-height: 752px;
  margin: -752px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 5px 5px;
}

.u-section-1 .u-icon-4 {
  width: 127px;
  height: 127px;
  margin: 40px auto 0 97px;
}

.u-section-1 .u-text-5 {
  line-height: 1.2;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 30px 26px 0 21px;
}

.u-section-1 .u-text-6 {
  margin: 25px 14px 0;
}

.u-section-1 .u-icon-5 {
  width: 127px;
  height: 127px;
  margin: 78px auto 0 97px;
}

.u-section-1 .u-text-7 {
  margin: 13px 16px 0 11px;
}

.u-section-1 .u-group-6 {
  width: 344px;
  min-height: 752px;
  margin: -752px auto 0 358px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 0 5px;
}

.u-section-1 .u-icon-6 {
  width: 128px;
  height: 127px;
  margin: 40px auto 0 103px;
}

.u-section-1 .u-text-8 {
  margin: 29px 16px 0 11px;
}

.u-section-1 .u-icon-7 {
  width: 129px;
  height: 127px;
  margin: 83px auto 0 103px;
}

.u-section-1 .u-text-9 {
  margin: 13px 16px 0 11px;
}

.u-section-1 .u-group-7 {
  width: 344px;
  min-height: 753px;
  height: auto;
  margin: -753px 87px 25px auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-line-2 {
  height: 110px;
  top: 615px;
  transform-origin: center bottom 0px;
  position: absolute;
  width: 3px;
}

.u-section-1 .u-icon-8 {
  width: 127px;
  height: 127px;
  margin: 48px auto 0 79px;
}

.u-section-1 .u-text-10 {
  line-height: 1.2;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 22px 30px 0 22px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 1px 20px 0 12px;
}

.u-section-1 .u-icon-9 {
  width: 126px;
  height: 127px;
  margin: 82px auto 0;
}

.u-section-1 .u-text-12 {
  line-height: 1.2;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 15px 28px 0 24px;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 20px 211px 0 22px;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: -120px 50px 0 213px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-left: initial;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-line-2 {
    left: auto;
    right: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1262px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1162px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 301px;
  }

  .u-section-1 .u-group-6 {
    margin-left: 196px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 190px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 19px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 12px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 14px;
    margin-left: 9px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 14px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 14px;
    margin-left: 9px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 28px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 18px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 26px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 209px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 48px;
    margin-left: 211px;
  }
}.u-section-2 .u-image-1 {
  min-height: 525px;
  background-image: url("images/freecon.jpg");
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    min-height: 500px;
  }
}